{% extends 'employee/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee Profiles</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("hi")

        });
    </script>
</head>
{% block body_block %}

<body>

    {% if request.session.user %}


    <section class="courses_area p_120">
        <div class="container">
            <div class="row courses_inner" style="margin-top:-2%;">
                <div class="col-lg-12">
                    <div class="topnav" style="color:brown;">
                        <h2 style="color:gray;">Manager Infomation </h2>
                        <div class="search-container">
                            <form action="{% url 'employees_list' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Search Manager" name="search" required>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="table-wrapper-scroll-y">
                        <table class="table table-striped" style="margin-top:2%;">
                            <thead>
                                <tr>
                                    <th>Profile</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>DOB</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>DOJ</th>
                                    <th>City</th>
                                    <th>Qualification</th>
                                    <th>Department</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if employees %}
                                {% for emp in employees %}
                                <tr>


                                    <td><img src="{{ MEDIA_URL }}/{{ emp.staff.profile_image }}" width="50px" height="50px"
                                            style="border-radius:50%;"></td>
                                           
                                    <td>{{ emp.staff.first_name }}</td>
                                    <td>{{ emp.staff.last_name }}</td>
                                    <td>{{ emp.staff.date_of_birth }}</td>
                                    <td>{{ emp.staff.gender }}</td>
                                    <td>{{ emp.staff.email }}</td>
                                    <td>{{ emp.staff.phone_no }}</td>
                                    <td>{{ emp.staff.city }}</td>
                                    <td>{{ emp.staff.qualification }}</td>
                                    <td>{{emp.staff.dept}}</td>

                                </tr>


                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}
</body>

</html>
{% endblock %}