{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if request.session.user %}
{% if request.session.type == 'manager' %}

<head>

   
    <script type="text/javascript">
        $(function () {
            $('#emp').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
    <style>
        .error {
            color: red;
            font-size: 14px;
            font-weight: 400;
        }

        .scrollable {
            overflow: auto;

        }

        .scrollable select {
            border: none;
        }

        .filltext {
            font-size: 22px;
            font-family: Playfair Display, serif;
            font: outline;
            font-display: bold;
        }

        .leavetext {
            font-size: 15px;
            font-family: Playfair Display, serif;
            font: outline;
            font-display: bold;

        }
    </style>
</head>


<div class="container" style="margin-top:5%;">
    <div class="panel panel-success">
        <div class="panel-heading filltext">Assign Project</div>
        <div class="panel-body">
            <h2></h2>
            {% if msg %}
            <div class="alert alert-success">

                <strong>{{ msg }}</strong>
            </div>
            {% else %}
            <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <label style="margin-left: 1.5%;" class="leavetext">Employee: <small
                                class="error">*</small></label>
                        <select name="emp" class="livesearch" style="width:300px;">
                                <option>Select Employee</option>
                            {% for e in staff %}

                            {% if request.session.dept == e.staff.dept_id %}
                            <option value="{{ e.staff.id }}">{{ e.staff.first_name }} {{ e.staff.last_name }}
                            </option>

                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class="col-sm-2">
                        
                      
                        {% if uid == '0' %}
                        <label class="leavetext">Project:  <small class="error">*</small></label>
                        <select name="pid" class="livesearch" style="width:300px;">
                                <option>Select Project</option>
                            {% for p in project %}
                            {% if request.session.dept == p.dept_id %}
                            <option value="{{ p.id }}">{{ p.project_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% elif uid != 0 %}
                        <label class="leavetext">Project Name:  <small class="error">*</small></label>
                        <input type="text" name="pname" class="form-control" value="{{ project }}" readonly>
                        <input type="hidden" name="pid" value="{{ pid }}">
                     
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;">

                    <input type="submit" class="btn btn-info" value="Submit" style="margin-left:1.5%;">

                </div>
            </form>
            {% endif %}
        </div>

    </div>
</div>
{% else %}
<p style="font-size: 30px;text-align: center;">Sorry...! You can't access this page</p>
{% endif %}
{% endif %}

<script type="text/javascript">
    $(".livesearch").chosen();
</script>
{% endblock %}