{% if projects %}

{% for project in projects %}

{% if request.session.dept == project.dept_id %}
<tr>
    <td>
        {{ project.project_name }} 
            <button class="	fa fa-caret-down emp-info" data-id="{{ project.id }}"></button>
            <button class="	fa fa-caret-up emp-info1" data-id="{{ project.id }}"></button>
                <!-- <i class="fa fa-caret-up"></i>
                <i class="fa fa-caret-down"></i> -->
    </td>
    <td>{{ project.project_start_date }}</td>
    <td>{{ project.project_end_date }}</td>
    <td>{{ project.project_technology }}</td>

    {% if project.project_status == 'complete' %}
    <td>{{ project.project_status }}</td>
    {% else %}
    <td>
        <form method="POST" action="{% url 'complete' project.id %}">
            {% csrf_token %}
            <input type="submit" value="Complete" class="btn btn-success"
                style="width: 69px; font-size: 10px;border-radius: 10px;margin-left: -1%;" name="complete"></a>
        </form>
    </td>
    <td class="controller-column">
                                       
        <a style="margin-right: 15px;" href="{% url 'edit_project' project.id %}">
            <i class="fa fa-pencil edit-icon"></i>
        </a>

        <a href="{% url 'delete_project' project.id %}">
            <i class="fa fa-trash-o delete-icon"></i>
        </a>
        
       
    </td>
    {% endif %}

</tr>

<tr id="employee{{ project.id }}">

</tr>
{% endif %}
{% endfor %}
{% endif %}

<script>
    $(document).ready(function () {
        console.log('hii')
        $('.emp-info').click(function () {
            var pid = $(this).attr("data-id");
            console.log(pid)
            $.ajax(
                {
                    type: "GET",
                    url: "/project_info/",
                    data: {
                        value: pid
                    },

                    success: function (data) {
                        $("#employee" + pid).html(data);
                        $("#employee" + pid).show(data);
                    },
                    

                })

        });

        $('.emp-info1').click(function () {
            var pid = $(this).attr("data-id");
            console.log(pid)
            $.ajax(
                {
                    type: "GET",
                    url: "/project_info/",
                    data: {
                        value: pid
                    },
                    success: function (data) {
                        $("#employee" + pid).html(data);
                        $("#employee" + pid).hide(data);

                    }

                })


        });


    });
</script>