{% extends 'employee/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Departments</title>
</head>
{% block body_block %}

<body>

    <section class="courses_area p_120">
        <div class="container">
            <div class="row courses_inner" style="margin-top:-2%;">
                <div class="col-lg-12">
                    <div class="topnav" style="color:brown;">
                        <h2 style="color:gray;">Department Infomation </h2>
                        <div class="search-container">
                            <form action="{% url 'department_list' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Search Department" name="search" RE>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y">
                        <table class="table table-striped " style="margin-top:2%;">
                            <thead>
                                <tr>
                                    <th>Department Name</th>
                                    <th>Total Employees</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if dict1 %}
                                {% for key,value in dict1.items %}
                                <tr>
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>

                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
    </section>
</body>

</html>
{% endblock %}