{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if request.session.user %}
{% if request.session.type == 'manager' %}
<head>
    <script>
        function mydate() {
            d = new Date(document.getElementById("ndt").value);
            dt = d.getDate();
            mn = d.getMonth();

            yy = d.getFullYear();
            document.getElementById("ndt").value = yy + "/" + mn + "/" + dt

        }
        function myFunction() {
            var x, text;


            x = document.getElementById("phone_no").value;


            if (isNaN(x) || x < 1 || x > 10) {
                text = "Input not valid";
            } else {
                text = "Input OK";
            }
            document.getElementById("demo").innerHTML = text;
        }
    </script>
    <style>
        .error {
            color: red;
            font-size: 14px;
            font-weight: 400;
        }

        .filltext {
            font-size: 22px;
            font-family: Playfair Display, serif;
            font: outline;
            font-display: bold;
        }

        .leavetext {
            font-size: 15px;
            font-family: Playfair Display, serif;
            font: outline;
            font-display: bold;

        }
    </style>
</head>


<div class="container" style="margin-top:5%">
    <div class="panel panel-info">
        <div class="panel-heading filltext">Add Employee</div>
        <div class="panel-body">
            <h2 style="margin-left: 11%;margin-top: 3%;"></h2>

            <form action="{% url 'employee_register' %}" method="POST" enctype="multipart/form-data" autocomplete="off"
                name="form">
                {% csrf_token %}

                <div class="container-fluid" style="margin-top:5%;">
                    <!-- 1 -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="leavetext">Department:</label>
                                {% for d in dept %}
                                {% if request.session.dept == d.id %}
                                <input type="text" class="form-control" value="{{ d.dept_name }}" name="dept" readonly>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="leavetext">First Name:</label><small class="error">*</small>

                            <input type="text" id="fname" class="form-control" value="" name="fname"
                                pattern='^[A-Za-z]{2}[a-z]{1,30}' autofocus
                                title="First Name should only contain letters not special characters and exceed to 30 characters,must contain atleast 3 characters."
                                required style="height:60%;font-size:13px;">

                        </div>
                        <div class="col-sm-4">
                            <label class="leavetext">Last Name:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="lname" autofocus
                                pattern='^[A-Za-z]{2}[a-z]{1,30}'
                                title="Last Name should only contain letters not special characters and exceed to 30 characters,must contain atleast 3 characters."
                                required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="leavetext">DOB:</label>
                            <p><input type="text" id="datepicker" class="form-control" placeholder="Select Date"
                                    name="dob" required></p>

                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Gender:</label><small class="error">*</small><br />
                            <input type="radio" value="M" name="gender" style="margin-left:15px;"
                                checked>&nbsp;&nbsp;Male
                            <input type="radio" value="F" name="gender" style="margin-left:15px;">&nbsp;&nbsp;Female

                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Phone No:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="phone_no"
                                pattern='^[6|7|8|9]+[0-9]{9}'>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Email:</label><small class="error">*</small>
                            <input type="email" class="form-control" value="" name="email">
                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Password:</label><small class="error">*</small>
                            <input type="password" class="form-control" value="" name="password" pattern='.{6,10}'
                                required title="Password must be between 6 to 10 characters long">

                        </div>

                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Address:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="address" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">City:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="city" pattern='^[A-Za-z]+'>
                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Qualification:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="qualification" required
                                pattern='(^[A-Za-z]+|,| |[A-Za-z]+)+[A-Za-z]$'>
                        </div>
                        <div class="col-sm-4">
                            <label style="margin-top:2%;" class="leavetext">DOJ:</label>
                            <p><input type="text" id="datepicker1" class="form-control" placeholder="Select Date"
                                    name="doj">
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Designation:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="designation" required
                                pattern='(^[A-Za-z]+| |\+|[A-Za-z]+)+[A-Za-z\+]$'>
                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Skills:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="skills" required
                                pattern='(^[A-Za-z]+|,| |\+|[A-Za-z]+)+[A-Za-z\+]$'>
                        </div>
                        <div class="col-sm-4" >
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Experience:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="experience" required
                                pattern='^[0-9]{1,2}'  title="Must be Integer">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:5%;" class="leavetext">Profile Image:</label><small class="error">*</small>
                            <input type="file" value="" name="profile_image" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="pwd" style="margin-top:2%;" class="leavetext">Salary:</label><small class="error">*</small>
                            <input type="text" class="form-control" value="" name="salary" required
                                pattern="^[0-9]{1,15}" title="Must be Integer">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Submit" style="margin-top:5%;">

                    </div>

            </form>
        </div>
    </div>
</div>
</div>

<script>


    $("#datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-50:-00",
        dateFormat: 'yy-mm-dd',
        // set the minDate to the today's date
        // you can add other options here
    });
    $("#datepicker1").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-50:-00",
        dateFormat: 'yy-mm-dd',
        // set the minDate to the today's date
        // you can add other options here
    });


</script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $(function () {
        $("#datepicker1").datepicker();
    });
</script>
   {% else %}
   <p style="font-size: 30px;text-align: center;">Sorry...! You can't access this page</p>
   {% endif %} 
{% endif %}

{% endblock %}