{% extends 'employee/base.html' %}
{% load staticfiles %}



{% block body_block %}

<style>
    body {
        background-color: #fff;
    }

    .update,
    .leave,
    .calculatetor {
        display: inline-block;
        width: 50%;
    }

    .blanckk {
        width: 33%;
        margin-right: -3px;
        padding-bottom: 15px;
        display: inline-block;
    }

    .fds {
        text-align: center;
        height: 200px;
    }

    .fds img {
        width: 40%;
    }


    .for_calculator,
    .for_leave,
    .for_update {
        text-align: center;
        font-size: 18px;
        color: #000;
        margin-top: 20px;
    }

    .update,
    .leave,
    .calculatetor {
        display: inline-block;
        width: 23.4%;
        box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.2);
        margin-right: 20px;
        padding: 30px 10px 10px 10px;
        height: 200px;
    }

    .header {
        margin: 0 0 50px;
        background: #333;
        padding: 0 0 10px;
    }

    .header .text-muted,
    .header h1 {
        color: #fff;
    }

    .sub_header {
        margin: 0 0 50px;
        background: #333;
        padding: 0 0 10px;
    }

    .sub_header .text-muted,
    .sub_header h1 {
        color: #fff;
    }


    .block:hover {
        background: #f2f2f2;
    }

    .block a {
        text-decoration: none;
    }

    .calculatetor.block.spaces {
        margin-right: 0;
    }

    .for_sizee {
        font-size: 30px !important;
    }

    .for_sub_title {
        font-size: 20px !important;
    }

    .no-shadow-hover {
        box-shadow: none;
    }

    .no-shadow-hover:hover {
        background: transparent;
    }
</style>

        <div class="container" style="margin-top:5%;%">
            <div class="container-fluid" style="text-align:center;">
                <h3 class="text-muted text-center for_sizee">Welcome to EMS Help Desk</h3>
                <h1 class="text-center for_sub_title">We are here to help you</h1>
            </div>
            <hr/>   
            <div class="update block">
                <a target='_blank' href="{% url 'update_mail' %}">
                    <div class="fds">
                        <img src="{% static 'img/update.png' %}">
                        <p class="for_update">Write Updates Mail</p>
                    </div>

                </a>
            </div>

            <div class="leave block">
                <a target='_blank' href="{% url 'leave_format' %}">
                    <div class="fds">
                        <img src="{% static 'img/leave.png' %}">
                        <p class="for_leave">Write Leave Application Mail</p>
                    </div>

                </a>
            </div>
            <div class="calculatetor block spaces" style="margin-top: 25px;">
                <a target='_blank' href="{% url 'policy' %}">
                    <div class="fds">
                        <img src="{% static 'img/privacy.png' %}">
                        <p class="for_calculator">NISL Policy Manual</p>
                    </div>

                </a>
            </div>
            <div class="calculatetor block spaces" style="margin-top: 25px;margin-left: 1.7%;">
                <a target='_blank' href="{% url 'holiday' %}">
                    <div class="fds">
                        <img src="{% static 'img/holiday.png' %}">
                        <p class="for_calculator">Holiday List</p>
                    </div>

                </a>
            </div>


{% endblock %}