{% extends 'employee/base.html' %}

{% load staticfiles %}
{% block body_block %}

<style>
    .leavetext {
        font-size: 18px;
        font-family: Playfair Display, serif;
        font: outline;
        font-display: bold;

    }

    .filltext {
        font-size: 22px;
        font-family: Playfair Display, serif;
        font: outline;
        font-display: bold;
    }

</style>
<div class="container" style="margin-top:5%">
    <div class="panel panel-info">
        <div class="panel-heading filltext">Leave Request</div>
        <div class="panel-body">

            <hr />
            {% if msg %}
            <div class="alert alert-success">

                <strong>{{ msg }}</strong>
            </div>
            {% endif %}

            <form action="{% url 'leave_request' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                     <label style="font-size:16px;">Date</label>
                        <input type="text" id="datepicker" class="form-control" placeholder="Select Date"
                            name="leave_date" required>
                    </div>
                    <div class="col-sm-2">
                       <label style="font-size:16px;">Leave Time</label>
                        <select name="leave_time"  required>

                            <option value="Full Day">Full Day</option>
                            <option value="Pre Lunch Half Day">Pre Lunch
                                Half Day</option>
                            <option value="Post Lunch Half Day">Post Lunch
                                Half Day</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                    <label style="font-size:16px;">Leave Reason</label>
                        <select name="leave_reason"   required>

                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Out of Station">Out of Station</option>
                            <option value="Family Function">Family Function</option>
                            <option value="Exams">Exams</option>
                            <option value="Attend Marriage">Attend Marriage</option>
                            <option value="Hourly leaves">Hourly leaves</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                      <label style="font-size:16px;">Name</label>
                        <input type="text" name="ename" value="{{ ename }} {{ elname }}" class="form-control" readonly>
                        <input type="hidden" name="emp_id" value="{{ emp_id }}">
                    </div>
                    <div class="col-sm-2">
                    <label style="font-size:16px;">Department:</label>
                        <input type="text" name="dname" value="{{ dname }}" class="form-control" readonly>
                        <input type="hidden" name="dept_id" value="{{ dept_id }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" id="sendBtn" class="btn btn-primary" style="margin-top:5%;">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="leaveReportMainDiv row" style="margin-top: 5%;">
        <div class="leaveHistory col-sm-4">
            <h4 class="leavetext">Leave History of 12 Months :-</h4>
            <div class="table-wrapper-scroll-y">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th>Date</th>
                            <th>Leave Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if emp_leave %}
                        {% for leave in emp_leave %}
                        <tr>
                            <td>{{ leave.leave_date}}</td>
                            <td>{{ leave.leave_time}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="leaveRequest col-sm-8">
            <h4>Approve Leaves:-</h4>
            <div class="table-wrapper-scroll-y">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th>Date</th>
                            <th>Leave Time</th>
                            <th>Leave Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if emp_leave %}

                        {% for leave in emp_leave %}
                        {% if leave.leave_status == "Approve" %}
                        <tr>
                            <td>{{ leave.leave_date}}</td>
                            <td>{{ leave.leave_time}}</td>
                            <td>{{ leave.leave_reason}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var today = new Date();

    $("#datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: today,
        numberOfMonths: 2,
        dateFormat: 'yy-mm-dd',
        // set the minDate to the today's date
        // you can add other options here
    });

</script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
{% endblock %}