{% if request.session.uname %}
<html>
	<head>
		<script>
			window.location.replace("/") 
			</script>
	</head>
</html>
{% else %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	{% load staticfiles %}
<head>
<title>Login Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trendy Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static "css/style1.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body>

	<!-- main -->
	<div class="agileits-main"> 
		<div class="header-main">
		<h2>Login Now</h2>
			<div class="header-bottom">
				<div class="header-right w3agile">
					<div class="header-left-bottom agileinfo">
						<form action="{% url 'login' %}" method="post">
							{% csrf_token %}
							<div class="icon1">
								<input type="text" placeholder="Email@example.com" required="" name="email" />
							</div>
							<div class="icon1">
								<input type="password" placeholder="Password" required="" name="password"/>
							</div>
							
							<div class="bottom">
								<input type="submit" value="Log in" />
							</div>
							<p><a href="#">Forgot Password?</a></p>
					</form>	
					</div>
				</div>
			</div>
			
	</div>

	</div>	
	
</body>
</html>
{% endif %}